.blurred-borders {
    box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.1);
}

.sponsor:after {
    content: "";
    color: #002F36 !important;
    width: 10px;
    height: 26px;
    border-right: 10px solid transparent;
    border-top: 26px solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: -10px;
}
